version: '3.8'

services:
  php:
    build:
      dockerfile: docker/php/Dockerfile
    container_name: finance_app_php
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_DATABASE=finance_app
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root

  mysql:
    image: mysql:8.0
    container_name: finance_app_mysql
    environment:
      MYSQL_DATABASE: finance_app
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"

  nginx:
    image: nginx:latest
    container_name: finance_app_nginx
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  cron:
    build:
      context: .
      dockerfile: docker/cron/Dockerfile
    container_name: finance_app_cron
    volumes:
      - .:/var/www/html
    depends_on:
      - php
      - mysql

volumes:
  mysql_data: